h1 { color: brown; }
.Harshil {
    font-style: italic;
}
.header {
    background-color: blueviolet;
}

.grid {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.footer {
    display:flex;
    justify-content: flex-end ;
}